<div class="row">
    <div class="col">
        <button (click)="game.actionRotate()">Rotate</button>
    </div>

</div>

<div class="row">
    <div class="col">
        <button (click)="game.actionLeft()">Left</button>
    </div>
    <div class="col">
        <button (click)="game.actionRight()">Right</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <button (click)="game.actionDown()">Down</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <button (click)="game.actionStart()">Start</button>
        <button (click)="game.actionStop()">Stop</button>
        <button (click)="game.actionReset()">Reset</button>
    </div>
</div>