<p>
  {{ playerName }} play hard!
</p>
<button (click)="submit()">End Game</button>
<hr>
<div class="container">
  <div class="row">
      <div class="col">
         <app-hiscore></app-hiscore>
      </div>
      <div class="col">
        <tetris-core
          #game
          (gameOver)="onGameOver()"
          (lineCleared)="onLineCleard()"
        >
        </tetris-core>
      </div>
      <div class="col">
          <app-myscore></app-myscore>
      </div>
  </div>
  <div class="row">
      <div class="col">
          1 of 3
      </div>
      <div class="col">
        <app-controler [game]="game"></app-controler>
      </div>
      <div class="col">
        <button (click)="fakeGameOver()">fake game over</button>
      </div>
  </div>
</div>
